
<%- include header %>

<div class="row">
    <div class="col-sm-8">
	  <div class="form_content">
	
	  <form method="post" class="form" id="postForm">
    <div class="form-group">
          <label class="control-label">文章标题</label>
          <div class="controls">
            <input type="text" placeholder="" class="form-control" name="title" id="title" minlength="1" required >          
          </div>
    </div>

    <div class="form-group">
          <label class="control-label" for="tag">标签</label>
          <div class="">
            <input type="text" placeholder="" class="form-control" name="tag1" >
            <input type="text" placeholder="" class="form-control" name="tag2" >
            <input type="text" placeholder="" class="form-control" name="tag3" >
          </div>
    </div>

    <div class="form-group">
		    <label class="control-label" for="name">文章正文</label>
		    <textarea class="form-control container" name="post" rows="8" id="content" minlength="1" required ></textarea>
		</div>

	  <div class="form-group">
	    <input type="submit" value="发表" class="btn btn-info active form-control"/>
	  </div>
  </div>
</div>
</form>

<script>
$("#postForm").validate();
</script>


</div>
</div>
</div>




<%- include footer %>